:root {
  --background-color: #000000;
  --body-font-color: #ffffff;
  --black: #000000;
  --blue: #0000ff;
  --red: #ff0000;
  --green: #00ff00;
  --yellow: #ffff00;
  --cyan: #00ffff;
  --magenta: #ff00ff;
  --font-family-heading: "Comic Sans MS", sans-serif;
  --font-family-main: "Times New Roman", serif;
}

@keyframes flashingGithubLink {
  0% {
    color: var(--green);
  }
  20% {
    color: var(--magenta);
  }
  40% {
    color: var(--blue);
  }
  60% {
    color: var(--red);
  }
  80% {
    fill: var(--cyan);
  }
  100% {
    fill: var(--yellow);
  }
}

@keyframes starBlink {
  0% {
    fill: var(--green);
    filter: drop-shadow(0rem 0.5rem 0 var(--magenta));
  }
  10% {
    filter: drop-shadow(0rem 0.5rem 0 var(--yellow));
  }
  20% {
    fill: var(--magenta);
  }
  30% {
    filter: drop-shadow(0rem 0.5rem 0 var(--red));
  }
  40% {
    fill: var(--blue);
  }
  50% {
    filter: drop-shadow(0rem 0.5rem 0 var(--cyan));
  }
  60% {
    fill: var(--red);
  }
  70% {
    filter: drop-shadow(0rem 0.5rem 0 var(--green));
  }
  80% {
    fill: var(--cyan);
  }
  90% {
    filter: drop-shadow(0rem 0.5rem 0 var(--blue));
  }
  100% {
    fill: var(--yellow);
  }
}

body {
  font-family: var(--font-family-main);
  color: var(--body-font-color);
  background-color: var(--background-color);
  font-size: 16px;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 16px;
}

@media screen and (min-width: 769px) {
  body {
    padding: 32px;
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-heading);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.skip-link {
  color: var(--yellow);
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container h2 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

header .container p {
  color: var(--yellow);
  text-align: center;
}

.container p {
  color: var(--body-font-color);
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: left;
}

.container p a {
  color: var(--magenta);
  text-decoration: none;
  font-style: italic;
  padding-bottom: 0.25rem;
  border-bottom: 6px dotted var(--magenta);
}

.link-github {
  animation: flashingGithubLink 0.75s infinite;
  cursor: pointer;
  color: var(--green);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-family: var(--font-family-heading);
}

/* todo - make star move */
.link-github span svg {
  animation: starBlink 0.75s infinite;
  height: 6rem;
  width: 6rem;
  fill: currentColor;
  margin-bottom: 1rem;
  filter: drop-shadow(0rem 0.5rem 0 var(--yellow));
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4rem auto 4rem auto;
  padding: 0;
}

/* make look like buttons */
nav ul li a {
  color: var(--cyan);
  font-weight: bold;
  font-family: Papyrus, sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

blockquote {
  background-color: var(--green);
  padding: 2rem;
}

.container section blockquote p {
  color: var(--black);
  margin: 0;
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
}

@media screen and (min-width: 769px) {
  .container section blockquote p {
    font-size: 2rem;
    line-height: 3.6rem;
  }
}

.container section blockquote p a {
  color: var(--blue);
  border-color: var(--blue);
  padding-bottom: 0.125rem;
}

.link-guidelines {
  font-family: Papyrus, sans-serif;
  color: var(--green);
  font-size: 3rem;
  text-align: center;
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
